.footer {
  display: flex;
  background: var(--secondary-default);
  height: 3rem;
  align-items: center;
  justify-content: center;

  h3 {
    color: var(--primary-default);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 110%;
  }
}
